/*MEDIA QUERIES*/

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.nuvem-branca-capacete{
		font-size: 45px;
	}
	.nuvem-azul-capacete{
		font-size: 40px;
		min-width: 385px;
	}
	.titulo-grande{
		font-size: 45px;
	}
	
	#componente-depoimentos .usuario-depoimento{
		right: -65px;
		left: 145px;
		top: 147px;
	}
	
	#arq #componente-depoimentos .usuario-depoimento{
		right: -55px;
		left: 70px;
		top: 90%;
	}
	#arq .titulo-pequeno{
		font-size: 12px;
		margin-bottom: 0px;
		height: 30px;
		width: 166px !important;
		padding: 0 30px 0 0px;
		top: 30%
	}
	.img-depoimento{
		width: 55px;
		height: 55px;
	}
	
	.titulo-pequeno{
		font-size: 15px;
	}
	
	.text-medio{
		font-size: 20px;
	}
	.img-avatar{
		margin-left: -20%;
		max-width: 100%;
		height: auto;
	}
	
	.titulo-blog{
		font-size: 20px;
	}
	
	.text-normal{
		font-size: 14px;
	}
	.text-pequeno{
		font-size: 20px;
	}
	
	#destaque-fotos li img{
		margin-top: 290px;
	}
	
	.componente-fotos.owl-theme .owl-nav .owl-next{
		right: -15%;
	}
	
	.componente-fotos.owl-theme .owl-nav .owl-prev{
		left: -15%;
	}
	
	#arquitetura .componente-fotos.owl-theme .owl-nav .owl-next{
		right: -20%;
	}
	
	#arquitetura .componente-fotos.owl-theme .owl-nav .owl-prev{
		left: -20%;
	}
	
	#img-eu-quero img {
		margin-left: 0px;
	}
	
	.nossa_festa_pijama .espacamento_kits_bottom{
		font-size: 12px;
	}
	
	.nossa_festa_pijama {
		background-size: 102% 100%;
		height: 280px;
	}
	
	.espacamento_kits_top {
		padding-top: 90px;
	}
	
	.nossa_festa_pijama .text-pequeno-destaque{
		padding: 0px;
	}
	
	.espacamento_kits_bottom{
		padding-bottom: 5px;
	}
	
	.nuvem-azul-arquitetura{
		font-size: 40px;
	}
	
	.text-pequeno-destaque{
		font-size: 20px;
	}
	
	#navArquitetura li{
		min-height: 25px;
	}
	
	.festas .componente-fotos.owl-theme .owl-nav .owl-prev{
		left: -15%;
	}
	
	.festas .componente-fotos.owl-theme .owl-nav .owl-next{
		right: -15%;
	}
	
	.modal-dialog{
		width: 95%;
	}
	
	.titulo-medio{
		font-size: 30px;
	}
	
	#myGallery .espacamento_top_pijama {
		padding-top: 15px;
	}
	
	#myGallery .img-responsive{
		max-width: 170%;
		margin-left: -30%;
		margin-top: 6%;
	}
	
	.text_area_margin{
		margin-top: 40px;
	}
	
	.titulo-medio-pequeno{
		font-size: 22px;
	}
	
	.opcoes-comentario small{
		margin-right: 0px;
	}
	
	.blog-post-comentar{
		margin-bottom: 30px;
	}
	
	.menu-pesquisa{
		display: none;
	}
	
	.menu-items.menu-destaque{
		display: none;
	}
	
	.logo-menu{
		display: block;
	}
	
	.mais .glyphicon-menu-hamburger{
		
		font-size: 40px;
		margin-top: 65px;
		color: #F2999F;
	}
	
	#menu .menu a{
		text-decoration: none;
		color: #F2999F;
		font-family: 'Amatic SC', cursive;
	}
	.menu.menu-item.text-medio{
		text-align: center;
		font-size: 30px;
	}
}
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .img-quero-mas-nao-moro {
        position: relative;
        text-align: center;
    }
}

