/*MEDIA QUERIES*/

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.nuvem-branca-capacete{
		font-size: 45px;
	}
	.nuvem-azul-capacete{
		font-size: 40px;
		min-width: 385px;
	}
	.titulo-grande{
		font-size: 45px;
	}
	
	#componente-depoimentos .usuario-depoimento{
		right: -65px;
		left: 145px;
		top: 147px;
	}
	.img-depoimento{
		width: 55px;
		height: 55px;
	}
	
	.titulo-pequeno{
		font-size: 15px;
	}
	
	.text-medio{
		font-size: 20px;
	}
	.img-avatar{
		margin-left: -20%;
		max-width: 100%;
		height: auto;
	}
	
	.titulo-blog{
		font-size: 20px;
	}
	
	.text-normal{
		font-size: 14px;
	}
	.text-pequeno{
		font-size: 20px;
	}
	
	#destaque-fotos li img{
		margin-top: 290px;
	}
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .img-quero-mas-nao-moro {
        position: relative;
        text-align: center;
    }
}

