.componente-parceiros {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    width: 80%;
}

.componente-parceiros-container {
    margin: 20px;
    width: 100%;
}

.componente-parceiros .owl-stage {
    width: 80%;
}

.componente-parceiros.owl-theme .owl-nav {
    width: 100%;
}

.componente-parceiros.owl-theme .owl-nav [class*='owl-'] {
    top: -27px;
    background: transparent;
}

.componente-parceiros.owl-theme .owl-nav [class*='owl-']:hover {
    top: -27px;
    background: rgba(219, 236, 247, 0.8);
}

.componente-parceiros.owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: -9%;
}

.componente-parceiros.owl-theme .owl-nav .owl-next {
    position: absolute;
    right: -9%;
}

.componente-parceiros .owl-nav {
    position: absolute;
    top: 50%;
}