#navArquitetura{
  position: fixed;
  right: 10%;
  margin-top: -100px;
  color: #adca53;
  font-weight: bold;
  text-align: right;
  letter-spacing: 1px;
}
#navArquitetura li:after{
  content: "";
  background: url('../img/carrosel_marcador_azul.png') no-repeat;
  background-position: 10px 10px;
  position: absolute;
  width: 50px;
  height: 50px;
}
#navArquitetura .active:after{
  background: url('../img/carrosel_marcador_verde.png') no-repeat;
  background-position: 8px 5px;
}
#navArquitetura li{
  min-height: 45px;
  cursor:pointer;
}
#navArquitetura .active{
  display: block;
}

#arq #componente-depoimentos.owl-theme .owl-dots .owl-dot span {
    background: url("../img/carrosel_marcador_azul.png") no-repeat !important;
    width: 30px !important;
    height: 30px !important;
    margin: 5px 7px;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 0 !important;
}
#arq #componente-depoimentos.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: url("../img/carrosel_marcador_marrom.png")  no-repeat !important;
    margin-bottom: 9px;
}

.bg-nuvem-arquitetura{

  background: url('../img/backNuvemAzul.png');
}

.item-arquitetura {
    padding: 30px 60px 30px 0;
    /*border: 2px dashed #fff;*/
    border-radius: 10px;
    width: 100%;
    margin: 0 0 80px 0;
    line-height: 3em;
}

#slide-arquitetura .owl-stage {
    height: 100%;
    position: relative;
}

#slide-arquitetura .owl-dots .owl-dot:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

}

#slide-arquitetura .owl-dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
}

/* ajuste carousel*/
#slide-arquitetura.owl-theme .owl-dots .owl-dot span {
    background: url("../img/carrosel_marcador_azul.png") no-repeat !important;
    width: 30px !important;
    height: 30px !important;
    margin: 5px 7px;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 0 !important;
}
#slide-arquitetura.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: url("../img/carrosel_marcador_verde.png")  no-repeat !important;
}

#slide-arquitetura .owl-stage-outer {
    width: 100%;
}

#slide-arquitetura .item-arquitetura ul {
    list-style: none;
    list-style-position: inside;
}

#slide-arquitetura .item-arquitetura ul li {
    background: url('../img/marcador-lista-rosa.png') no-repeat 0px 8px transparent;
    line-height: 1.2em;
    padding: 0px 0px 3px 40px;
    vertical-align: middle;
}

#slide-arquitetura .item-arquitetura .item-slide {
    border-color: #5F4B3F;
}

#slide-arquitetura #componente-depoimentos .owl-dots {
    position: relative;
    display: block;
    top: 0;
    left: -30%;
}
