@import "menu.css";
@import "home.css";
@import "depoimentos.css";
@import "footer.css";
@import "slide-arquitetura.css";
@import "fotos.css";
@import "parceiros.css";
@import "produtos.css";
@import "blog.css";
@import "kits.css";
@font-face {
  font-family: Foxinthesnow;
  src: url(../fonts/fox_in_the_snow.ttf);
}

@media (max-width: 768px){
  body{
    overflow-x: hidden;
  }
}
/*#lb-container {
  margin-top: 0px !important;
  height: 100%;
  top: 0px !important;
      margin-left: -40% !important;
      /*width: 80% !important;*/
/*}
#lb-img{
  height: 100%;
}*/
.text-color-verde {
  color: #ACCC52;
}

.text-color-rosa {
  color: #F2999F;
}

.text-color-marrom {
  color: #5F4B3F;
}

.text-color-branco {
  color: #fff;
}

.text-color-azul {
  color: #95d4e6;
}

.bg-color-azul {
  /*background-color: #B3DFEB;*/
  background-color: #98d3e5
}

.bg-color-verde {
  background-color: #ADCB52;
}

.bg-color-rosa {
  background-color: #F299A2;
}

.bg-color-marrom {
  background-color: #5F4B3F;
}

.text-normal {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.text-grande, .text-medio, .text-pequeno, .text-minimo {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  margin: 10px 0 10px 0;
}

.text-grande {
  font-size: 60px;
}

.text-medio {
  font-size: 33px;
}

.text-pequeno {
  font-size: 25px;
}

.text-minimo {
  font-size: 23px;
}

.text-pequeno-destaque {
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  font-size: 28px;
}

.titulo-grande, .titulo-medio, .titulo-pequeno, .titulo-medio-pequeno {
  font-family: Foxinthesnow;
  font-weight: lighter;
  margin-bottom: 40px;
  z-index: 999;
}

.titulo-grande {
  font-size: 60px;
}

.titulo-medio {
  font-size: 40px;
}

.titulo-medio-pequeno {
  font-size: 30px;
}

.titulo-pequeno {
  font-size: 25px;
}

.titulo-blog {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 30px;
}

.post-blog {
  border: 2px dashed #fff;
  border-radius: 10px;
  padding: 20px;
}

.menu-destaque {
  position: relative;
  top: 8px;
}

.menu-destaque:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  background-image: url("../img/tracejado_azul.png");
  background-repeat: repeat-x;
}

.menu-destaque:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-image: url("../img/tracejado_azul.png");
  background-repeat: repeat-x;
}

.espacamento_top {
  padding-top: 60px;
}

.espacamento_bottom {
  padding-bottom: 60px;
}

.espacamento_top_pequeno {
  padding-top: 20px;
}

.espacamento_bottom_pequeno {
  padding-bottom: 20px;
}

.destaque-lista:after {
  text-decoration: blink;
  border-radius: 100%;
  border: 10px solid red;
  width: 100px;
  height: 100px;
  background-color: purple;
}

.arquitetura-que-fazemos img {
  padding: 25px;
  max-width: 280px;
}

.espacamento-texto-paragrafo {
  margin: 30px 0 30px 0;
}

.nuvem-azul-capacete {
  min-width: 630px;
  font-size: 70px;
  background: url("../img/destaque_titulo_1.png") no-repeat;
  background-position: 3px -2px;
  text-align: center;
  padding: 3rem;
  padding-top: 3.8rem;
}
.nuvem-azul-arquitetura {
  min-width: 630px;
  font-size: 70px;
  background: url("../img/destaque_titulo_azul_2.png") no-repeat;
  background-position: 20px 15px;
  text-align: center;
  padding: 3rem;
  padding-top: 3.8rem;
}
.nuvem-branca-capacete {
  font-size: 70px;
  background: url("../img/destaque_titulo_2.png") no-repeat;
  background-position: 15px 5px;
  padding: 3rem;

}

/*.nuvem-azul-capacete:before {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background: url("../img/destaque_titulo_azul_2.png") no-repeat;
  z-index: 2;
  top: -22px;
  left: -13px;
}*/



.nuvem-aniversario {
  min-width: 630px;
  font-size: 70px;
  background: url("../img/destaque_titulo_3.png") no-repeat;
  background-position: 15px 0px;
  text-align: center;
  padding: 3rem;
  padding-top: 5rem;
}

.row{
  margin: 0px;
}

.img-depoimento{
	width: 75px;
	height: 100px;
    position: absolute;
    left: 35%;
    overflow: hidden;
    top: -20%;
    -webkit-transform: rotate(5deg);
    border-radius: 10px;
}

.img-avatar{
	margin-left: -30%;
	width: 110px !important;
	margin-top: -5%;
}


.fundo-input{
  background-color: #fff;
  box-shadow: 0px 1px 5px #666;
  padding: 1rem;
  width: 100%;
      border-radius: 8px;
}
.input-customizado {
  border: 2px dashed #888;
  padding: 1.2rem;
  font-family: Foxinthesnow;
  font-weight: lighter;
    width: 100%;
    border-radius: 8px;
    font-size: 21px;
}
.textarea-customizado{
  height: 290px;
}

#vamos{
  position: absolute;
  margin-top: -70px;
  margin-left: -30px;
  z-index: 777;
}

.espacamento-kits-top{
	padding-top: 25px;
}

.espacamento-kits-bottom{
	padding-bottom: 25px;
}

#kits-war-img .item-slide {
    border: 2px dashed #FFFFFF;
	padding: 5px;
    border-radius: 10px;
	margin-left: -20px;
	margin-top: 25px;
}
#kits-war-img img {
  width: 100%;
}
#kit-war .text-normal.espacamento_bottom{
	margin-left: -10px;
}

#arq #componente-depoimentos .item-slide{
	border: 2px dashed #000000;
}

#produtos #componente-depoimentos .item-slide{
	border: 2px dashed #000000;
}

#produtos #componente-depoimentos.owl-theme .owl-dots .owl-dot span{
	background: url(../img/carrosel_marcador_azul.png) no-repeat !important;
}

#produtos #componente-depoimentos.owl-theme .owl-dots .owl-dot.active span{
	background: url(../img/carrosel_marcador_marrom.png) no-repeat !important;
}

#produtos .componente-fotos-container{
	/*border: 2px dashed #000000;*/
}

#pijama #componente-depoimentos .item-slide{
	border: 2px dashed #FFFFFF;
}

.fotos_galeria{
	width: 224px;
}
.festas .fotos_galeria{
	width: 200px;
}

.margin_kits_entrega{
	margin-left: 60px;
}

.festas .componente-fotos-container{
	margin-left: 8% !important;
}

.festas .componente-fotos-container{
	margin-right: 8% !important;
}

.festas .componente-fotos.owl-theme .owl-nav .owl-prev{
	left: -11%;
}

.festas .componente-fotos.owl-theme .owl-nav .owl-next{
	right: -11%;
}

.espacamento_top_pijama{
		padding-top: 30px
}

#produtos .componente-fotos-container{
	margin-left: 2%;
}

#produtos .componente-parceiros{
	margin-left: 2%;
}

#locacao_produtos{
	margin-left: -8%;
    margin-right: -15%;
}

#locacao_produtos .row{
	margin-bottom: 30px;
}

.lupa_pesquisa_blog {
    background: url(../img/lupa_blog.png) no-repeat right 17px center;
    height: 30px;
    width: 55px;
    top: 23px;
    position: absolute;
    right: 25px;
    cursor: pointer;
}

.dashed_lupa{
	background: url(../img/dashed_lupa.png) no-repeat right 17px center;
    height: 30px;
    width: 27px;
    top: 25px;
    position: absolute;
    right: 61px;
}

.espacamento_kits_top{
	padding-top: 220px;
}

.espacamento_kits_bottom{
	padding-bottom: 20px;
}

.nossa_festa_pijama{
	background: url(../img/nossa-festa-pijama.png) no-repeat right -10px center;
    background-size: 102% 100%;
    height: 680px;
}

.modal_nuvem_prod{
	width: 190px;
    height: 130px;
    position: absolute;
    left: -10%;
    overflow: hidden;
    top: -15%;
	z-index: 99999999;
}

.modal_nuvem_prod span{
	position: absolute;
    top: 30%;
    left: 30%;
    -webkit-transform: rotate(-15deg);
}
.modal-content{
	background-color: rgba(255, 255, 255, 0);
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0);
    box-shadow: 0 3px 9px rgba(0,0,0,0);
	border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0);
}
.modal-body{
	background-color: #fff;
}

.modal-dialog{
	width: 45%;
}

.border_dashed{
	border: 2px dashed;
	border-radius: 10px;
}

.modal-body{
	padding: 10px;
	border-radius: 10px;
}

#myGallery .item.active{
	padding-top: 20px;
}

#myGallery .col-md-7{
	padding-top: 15px;
}

.margin_top_10{
	margin-top: 10px;
}

#myGallery .left.carousel-control{
	left: -110px
}

#myGallery .right.carousel-control{
	right: -110px;
}

.previous_car{
	background: url(../img/seta-branca-esquerda.png) no-repeat;
	width: 32px !important;
    height: 55px !important;
    margin-top: -10px !important;
    font-size: 30px !important;
}

.next_car{
	background: url(../img/seta-branca-direita.png) no-repeat;
	width: 32px !important;
    height: 55px !important;
    margin-top: -10px !important;
    font-size: 30px !important;
}

.glyphicon-chevron-left:before{
	content: '';
}

.glyphicon-chevron-right:before{
	content: '';
}

.glyphicon-remove:before{
	content: '';
}

.carousel-control.left{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0))) !important;
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
}

.carousel-control.right{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0))) !important;
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
}

.img_close{
	background: url('../img/fechar.png') no-repeat;
    height: 21px;
    width: 21px;
    left: 10px;
}

.modal-footer{
	text-align: center;
}

.lightbox{
	cursor: pointer;
}

#componente-parceiros.lightbox{
  z-index: 0;

}
